apiVersion: apps/v1
kind: Deployment
metadata:
  name: analytics-service-deployment
  namespace: plot-listing
spec:
  replicas: 1
  selector:
    matchLabels:
      app: analytics-service
  template:
    metadata:
      labels:
        app: analytics-service
    spec:
      containers:
        - name: analytics-service
          image: plot-analytics-service:1.0.0
          imagePullPolicy: IfNotPresent # Use local image
          ports:
            - containerPort: 3001
          env:
            - name: DB_HOST
              value: "db"
            - name: DB_USER
              value: "user"
            - name: DB_NAME
              value: "listingdb"
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: POSTGRES_PASSWORD