apiVersion: v1
kind: Service
metadata:
  name: analytics-service
  namespace: plot-listing
spec:
  selector:
    app: analytics-service
  ports:
    - protocol: TCP
      port: 3001
      targetPort: 3001