apiVersion: apps/v1
kind: Deployment
metadata:
  name: listing-service-deployment
  namespace: plot-listing
spec:
  replicas: 1
  selector:
    matchLabels:
      app: listing-service
  template:
    metadata:
      labels:
        app: listing-service
    spec:
      initContainers:
        - name: wait-for-db
          image: postgres:14-alpine
          command: ['sh', '-c', 
            "until pg_isready -h db -p 5432; do echo 'waiting for database'; sleep 2; done;"]
      containers:
        - name: listing-service
          image: plot-listing-service:1.0.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
          env:
            - name: DB_HOST
              value: "db"
            - name: DB_USER
              value: "user"
            - name: DB_NAME
              value: "listingdb"
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: POSTGRES_PASSWORD
      command: ["sh", "-c", "node scripts/init-schema.js && node server.js"]